
h1{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #ebebeb;
    padding-left:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left:solid 5px red;
    font-size: 20px;
    width: 500px;
}

.confirm{
    margin: 0 auto;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 450px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

form{
    float: left;
    margin-right: 15px;
}

.button1{
    border: solid 1px lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}

.button2{
    border: solid 1px lightgray;
    padding: 4px 10px;
    color: #fbfbfb;
    background-color: orange;
    border-radius: 5px;
    border-bottom: solid 2px darkorange;
}

