
h1{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #ebebeb;
    padding-left:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left:solid 5px red;
    font-size: 20px;
    width: 500px;
}

form{
    background-color: #fbfbfb;
    border-radius: 10px;
    border: solid 3px #ebebeb;
    width: 500px;
    margin: 0 auto;
}

form div{
    padding: 15px;
}

.text,.textarea,.dropdown{
    border:1px #dfdfdf solid;
    padding: 5px;
    background: #fff;
}

.submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}